<% include ../partials/header %>

<script>
    $(document).ready(function(){

        $("#myButton").click(function(){
            var blogTitle       = $("#blogTitle").val();
            var comSentence     = $("#comSentence").val();
            var blogImage       = $("#blogImage").val();
            var blog            = CKEDITOR.instances.myTextArea.getData();

            var data = {
                blogTitle : blogTitle,
                comSentence : comSentence,
                blogImage : blogImage,
                blog : blog
            }

            $.post("addNewBlog", {data:data})
                .then(function(addedBlog){
                    console.log(addedBlog);
                });
        });
    });
</script>

<!-- Page Header -->
<header class="masthead"
    style="background-image: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-18339.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clean Blog</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <h2 style="text-align:center; margin-bottom:40px;">Add New Blog</h2>
    <form action="/signin" method="POST" class="text-center border border-light p-5">
        <div class="form-group">
            <label for="blogTitle">Blog Title</label>
            <input type="text" class="form-control" id="blogTitle" placeholder="Blog Title">
        </div>
        <div class="form-group">
            <label for="comSentence">Blog Commercial Sentence</label>
            <input type="text" class="form-control" id="comSentence" placeholder="Blog Commercial Sentence">
        </div>
        <div class="form-group">
            <label for="comImage">Blog Commercial Image URL</label>
            <input type="text" class="form-control" id="blogImage" placeholder="Blog Commercial Image URL">
        </div>
        <textarea name="editor" id="myTextArea"></textarea>
        <button id="myButton" class="btn btn-primary">Submit</button>

    </form>
</div>
<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace( 'editor' );
</script>
<% include ../partials/footer %>